{% extends 'edu/base1.html' %}

{% load static %}


{% block content3 %} 

<div class="container " style="width: 100vw; min-height: 50vh; padding:80px;">

   {% if admstatus %}
   {% for st in admstatus %}
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">User Name</th>
        <th scope="col">Registration Amount</th>
        <th scope="col">Admission Confirm Date</th>
        <th scope="col">Admission Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{st.user}}</td>
        <td>{{st.reg_amount}}</td>
        <td>{{st.admissin_date}}</td>
        <td>{{st.admission_status}}</td>
        </tr>
    </tbody>
  </table>
  {% endfor %}
  {% else %}
  <h4 class="text-center">No Staus Found</4>
  {% endif %}
</div>
  
 

{% endblock content3 %}


{% block jscontent %}

{% endblock jscontent %}