{% extends 'edu/base1.html' %}
{% load static %}



{% block content3 %}

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet"/>

<script>
$(function() {
    $("#txtDate").datepicker({
        dateFormat:'mm/dd/yy',
        changeMonth:true,
        changeYear:true,
        yearRange:"1980:2015"
    });
});

</script>

<style>
label {
  padding-left: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
</style>

{% if form.exists %}
  {% for fm in form %}
    {% if fm.user == request.user %}
      <div class="container mt-5 shadow p-5 my-5">
        <p class="alert alert-success">
          <span class="text-primary">Congratulations!</span> You have already submitted the Admission Form. 
          Please print it by clicking <a href="{% url 'printform' %}">View Details</a>.
        </p>
        <p>
          You have already registered. Please pay the registration fees:
          <a href="{% url 'payment' %}" class="btn btn-warning btn-sm">Pay Now</a>
        </p>
      </div>
    {% endif %}
  {% endfor %}
{% else %}

<div class="container mt-5 p-3">
<form method="POST" enctype="multipart/form-data" class="shadow">
  {% csrf_token %}
  <h2 class="text-center alert-secondary">Admission Form</h2>

  <!-- PERSONAL DETAILS -->
   <div class="card shadow-lg rounded-3">
    <div class="card-body">
  <div class="row g-4">
     <div class="card-header">
          <h4 class="mb-0">Persional Details</h4>
    </div>
 
    <div class="col-sm-4"><label class="d-block">First Name <span class="text-danger ">*</span></label>
      <div class="p-2">
          {{ details.firstname }}
      </div>
      
    </div>
       <div class="col-sm-4"><label class="d-block">Middle Name <span class="text-danger ">*</span></label>
      <div class="p-2">
          {{ details.middlename }}
      </div>
      
    </div>
        <div class="col-sm-4"><label class="d-block">Last Name <span class="text-danger ">*</span> </label>
      <div class="p-2">
          {{ details.lastname }}
      </div>
      
    </div>
       <div class="col-sm-4 "><label class="d-block">Father Name <span class="text-danger ">*</span></label>
      <div class="p-2">
          {{ details.fathername }}
      </div>
      
    </div>
       <div class="col-sm-4"><label class="d-block">Mother Name <span class="text-danger ">*</span></label>
      <div class="p-2">
          {{ details.mothername }}
      </div>
      
    </div>
       <div class="col-sm-4"><label class="d-block">Date of Birth <span class="text-danger ">*</span></label>
      <div class="p-2">
          {{ details.dob }}
      </div>
      
    </div>
       <div class="col-sm-4"><label class="d-block">Gender <span class="text-danger ">*</span></label>
      <div class="p-2">
          {{ details.gender }}
      </div>
      
    </div>
       <div class="col-sm-4"><label class="d-block">Mobile <span class="text-danger ">*</span></label>
      <div class="p-2">
          {{ details.mobile }}
      </div>
      
    </div>
       <div class="col-sm-4"><label class="d-block">Email <span class="text-danger ">*</span></label>
      <div class="p-2">
          {{ details.email }}
      </div>
      
    </div>
       <div class="col-sm-4"><label class="d-block">Address <span class="text-danger ">*</span></label>
      <div class="p-2">
          {{ details.address }}
      </div>
      
    </div>
       <div class="col-sm-4"><label class="d-block">City <span class="text-danger ">*</span></label>
      <div class="p-2">
          {{ details.city }}
      </div>
      
    </div>
       <div class="col-sm-4"><label class="d-block">State <span class="text-danger ">*</span></label>
      <div class="p-2">
          {{ details.state }}
      </div>
      
    </div>
       <div class="col-sm-4"><label class="d-block">Pin Code <span class="text-danger ">*</span></label>
      <div class="p-2">
          {{ details.pin }}
      </div>
      
    </div>
      </div>
  </div>
  </div>

  <!-- EDUCATIONAL DETAILS -->
  <div class="row p-3 ">
   <div class="card-header">
    <h4 class="mb-0">Educational Details</h4>
    </div>
    <hr>
    <!-- <div>Education</div>
    <div class="col-sm-3">Board <span class="text-danger ">*</span><br>{{ details.board }}<br>{{ details.board1 }}<br>{{ details.board2 }}</div>
    <div class="col-sm-3">Passing Year <span class="text-danger ">*</span><br>{{ details.passing_year }}<br>{{ details.passing_year1 }}<br>{{ details.passing_year2 }}</div>
    <div class="col-sm-3">Percentage <span class="text-danger ">*</span><br>{{ details.percentage }}<br>{{ details.percentage1 }}<br>{{ details.percentage2 }}</div>
    <div class="col-sm-3">Roll No. <span class="text-danger ">*</span><br>{{ details.roll_number }}<br>{{ details.roll_number1 }}<br>{{ details.roll_number2 }}</div> -->
    <table>
      <tr>
        <th>Education</th>
        <th>Board</th>
        <th>Passing Year</th>
        <th>Percentage</th>
        <th>Roll No.</th>
      </tr>
      <tr>
        <td>10th</td>
        <td>{{details.board}}</td>
        <td>{{details.passing_year}}</td>
        <td>{{details.percentage}}</td>
        <td>{{details.roll_number}}</td>
      </tr>
        <tr>
        <td>12th</td>
        <td>{{details.board1}}</td>
        <td>{{details.passing_year1}}</td>
        <td>{{details.percentage1}}</td>
        <td>{{details.roll_number1}}</td>
      </tr>
        <tr>
        <td>Graduation</td>
        <td>{{details.board2}}</td>
        <td>{{details.passing_year2}}</td>
        <td>{{details.percentage2}}</td>
        <td>{{details.roll_number2}}</td>
      </tr>
    </table>
  </div>

  <!-- DOCUMENTS -->
  <div class="card shadow-lg rounded-3">
    <div class="card-header">
    <h4 class="mb-0">Document Details</h4>
    </div>
    <div class="card-body">
      <div class="row g-4">
    <div class="col-sm-6 text-center"><label class="fw-bold d-block">Photo <span class="text-danger ">*</span></label>
      <div class="border rounded p-2 bg-light">
           {{details.photo}}
      </div>
       </div>
       <div class="col-sm-6 text-center"><label class="fw-bold d-block">Signature <span class="text-danger ">*</span></label>
      <div class="border rounded p-2 bg-light">
          {{details.signature}}
      </div>
       </div>
       <div class="col-sm-6 text-center"><label class="fw-bold d-block">Matriculation</label>
      <div class="border rounded p-2 bg-light">
           {{ details.matriculation }}
      </div>
       </div>
       <div class="col-sm-6 text-center"><label class="fw-bold d-block">Intermediate</label>
      <div class="border rounded p-2 bg-light">
           {{ details.intermediate }}
      </div>
       </div>
       <div class="col-sm-6 text-center"><label class="fw-bold d-block">Graduation</label>
      <div class="border rounded p-2 bg-light">
           {{details.graducation}}
      </div>
       </div>
       <div class="col-sm-6 text-center"><label class="fw-bold d-block">Post Graduation</label>
      <div class="border rounded p-2 bg-light">
           {{ details.postgraducation }}
      </div>
       </div>
         <div class="col-sm-6 text-center"><label class="fw-bold d-block">Address Proof</label>
      <div class="border rounded p-2 bg-light">
          {{ details.address_proof }}
      </div>
       </div>

    </div>
  </div>
  </div>

  <!-- COURSE -->
   <div class="card shadow-lg rounded-3">
    <div class="card-header">
    <h4 class="mb-0">Course Details</h4>
    </div>
    <div class="card-body">
  <div class="row">
    <div class="col-sm-10 p-4"><label class="fw-bold d-block mx-3">Course Applied For</label>
      <div class="p-3">
       {{ details.course_applied_for }}
      </div> 
    </div>
  </div>
  </div>
  </div>

  <!-- ERRORS -->
  {% for field in details %}
    <div><small class="text-danger">{{field.errors }}</small></div>
  {% endfor %}
 <div class="mt-2 p-2">
  <input type="submit" name="preview" value="Preview"  class="btn btn-primary btn-lg col-sm-2 offset-4">
  <input type="reset" value="Reset" class="btn btn-danger btn-lg col-sm-2">
  </div>
</form>



<!-- Messages -->
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
  {% endfor %}
{% endif %}

</div>
{% endif %}

{% endblock content3 %}
