{% extends 'edu/base1.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<div class="container d-flex justify-content-center align-items-center mt-5" style="min-height: 90vh;">
   
   
    <div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-md-6 col-lg-10 shadow p-4 rounded bg-white">
         <h3 class="text-dark text-center mt-4">Feedback</h3>
        <form action="" method="POST" class="">
            {% csrf_token %}
            
            <div class="row g-3">
                {% for field in form %}
                    <div class="col-12">
                        <label for="{{ field.id_for_label }}" class="form-label fw-semibold">{{ field.label }}</label>
                        {{ field|add_class:"form-control" }}
                        {% if field.errors %}
                            <div class="text-danger small mt-1">
                                {{ field.errors|striptags }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

            <div class="mt-4">
                <input type="submit" class="btn btn-primary w-100" value="Submit">
            </div>
        </form>
    </div>
</div>
</div>
{% if messages %}
    {% for message in messages %}
        <script>alert('{{ message }}')</script>
    {% endfor %}
{% endif %}

{% endblock content %}
