 {% extends 'adminportal/base1.html' %}
{% load static %}



{% block content %}


<div class="container-fluid shadow" style="width: 100vw; padding: 20px; margin:100px 0px 60px 0px;; border-radius:10px;">
  <div class="table-responsive p-2">

  <h3 class="text-center alert alert-success">Student Admission Record</h3>
<table class="table table-striped table-bordered table-hover align-middle">
    <thead class="table-dark">
      <tr>
        <th scope="col">S No.</th>
        <th scope="col">Registration No.</th>
        <th scope="col">User Name</th>
        <th scope="col">First Name</th>
        <th scope="col">Middle Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Father Name</th>
        <th scope="col">Mobile</th>
        <th scope="col">Email</th>
        <th scope="col">View Details</th>
      </tr>
    </thead>
    {% if admission_list %}
    {% for list in admission_list %}
    <tbody>
      <tr>
        <div class="col-12">
        <td>{{forloop.counter}}</td>
        <td>{{list.registration_number}}</td>
        <td>{{list.user}}</td>
        <td>{{list.firstname}}</td>
        <td>{{list.middlename}}</td>
        <td>{{list.lastname}}</td>
        <td>{{list.fathername}}</td>
        <td>{{list.mobile}}</td>
        <td>{{list.email}}</td>
        <td colspan="2">
        </div>
           <a href="{%  url 'updateform' list.id %}" class="btn btn-warning btn-sm">Edit</a>
           <form action="{%  url 'deleteform' list.id %}" method="POST" class="d-inline"  enctype="multipart/form-data">
            {% csrf_token %}
           <input type="submit" value="Delete" class="btn btn-danger btn-sm"/>
           </form>
           <form action="{%  url 'viewform' list.id %}" method="POST" class="d-inline">
            {% csrf_token %}
           <input type="submit" value="View" class="btn btn-primary btn-sm"/>
           </form>
        </td>
        
      </tr>
    </tbody>
   
    {% endfor %}
    {% else %}

    <tbody>
      <tr>
        <td>No Record Found</td>
      </tr>
    </tbody>
    {% endif %}
  </table>
 <!-- --------------paginator------------------------------- -->
     <nav area-label="Page navigation">
      <ul class="pagination justify-content-center">
        {% if admission_list.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{admission_list.previous_page_number}}">Previous</a>
        </li>
        {% endif %}
        {% for num in admission_list.paginator.page_range %}
        {% if admission_list.number == num %}
         <li class="page-item active"><span class="page-link">{{num}}</span></li>
         {% elif num > admission_list.number|add:'-3' and num < admission_list.number|add:'3' %}
         <li class="page-item"><a class="page-link" href="?page={{num}}">{{num}}</a></li>
         {% endif %}
         {% endfor %}

         {% if admission_list.has_next %}
         <li class="page-item">
          <a class="page-link" href="?page={{admission_list.next_page_number}}">Next</a>
         </li>
         {% endif %}
      </ul>

     </nav>



<div class="col-sm-4">
    {% if messages %}
     {% for message in messages %}
     <span {% if message.tags %} class="alert-{{message.tags}}" {% endif %}><script>alert('{{message}}')</script></span>
    {% endfor %}
    {% endif %} 
   
    
    </div>
  </div>
  </div>
  </div>      
{% endblock content %}