{% extends 'adminportal/base1.html' %}
{% load static %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 90vh;">
    <div class="col-12 col-sm-8 col-md-6 col-lg-4 shadow p-4 rounded bg-white">
        
        <h3 class="text-center mb-4">Login</h3>

        <form action="" method="post" novalidate>
            {% csrf_token %}
            {% for fm in form %}
                <div class="form-group mb-3">
                    {{ fm.label_tag }}
                    {{ fm }}
                    <small class="text-danger">{{ fm.errors|striptags }}</small>
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary w-100">Login</button>

             {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p class="alert alert-danger mt-3">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </form>

        {% if messages %}
            {% for message in messages %}
                <script>alert('{{ message }}')</script>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock content %}
